
.main{
    background-image: url(../images/flores.JPG);
    opacity: 0.9;    
}
.contact{
    @include flex(flex, column, center, center);
    @include style(black, #ffffff);
    padding: 5em;
    opacity: 0.7;
    font-weight: bold;
    .form{
        margin: 0 1em;
        padding: 1em;
    }
}
h2{
    text-align: center;
    margin: map-get($spacings, spacing-small);   
}
h3{
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
}