.div2 img{
    width: 98vw;
    max-height: 530px;
}
.card{
    width: 90vw;
    margin: 1em 0;
    @include flex(flex, column, center, center);
    .card__child{
        @include flex(flex, stretch, center, center);
        margin: map-get($spacings, spacing-small) 0;
        line-height: 1.5em;  
        p{
            width: 50%;
            text-align: center;
            margin-right: 3em;
        }   
    }
    .card__images{
        @include sizes(20em, 30em);
        object-fit: cover;
        align-items: center;
    } 
}
